/* LIST CONTAINERS */
.related-product-list, .outfit-list {
  background-color: #F2F2F2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.outfit-list {
  margin-bottom: 50px;
}

h2 {
  /* padding: 10px; */
  text-align: left;
  font-weight: bolder;
}

#rp-header {
  padding-top: 10px;
}

/* MODAL */
.toggle-modal, .delete-icon {
  display: block;
  cursor: pointer;
  position: absolute;
  margin: 0 auto;
  top: 8px;
  right: 5px;
  padding: 5px;
  background-color: #F2F2F2;
  color: black;
  opacity: 0.5;
  border-radius: 20px;
}
.toggle-modal:hover {
  opacity: 0.8;
  cursor: pointer;
  color: #FFD31A;
}

.delete-icon {
  background-color: #F2F2F2;
  color: black;
  opacity: 0.5;
  border-radius: 20px;
}

.delete-icon:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modal-container, .modal-container.active {
  position: fixed;
  display: flex;
  width: 100%;
  height: 60vh;
  top: 0;
  left: 0px;
  justify-content: center;
  align-items: center;
  border: 1px solid #4F0B40;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 0.5s, visibility 0.3s, transform 0.5s;
  z-index: 999;
}

.related-products-modal {
  width: 100%;
  height: 100%;
  background-color: #F8F8F8;
  position: relative;
  overflow-x: scroll;
  overflow-wrap: break-word;
}

#table-container {
  margin: 0 auto;
  display: flex;
}

table {
  width: 100%;
  table-layout: fixed;
}

th, td {
  font-size: 30px;
  text-align: center;
  /* width: 60px; */
  border-bottom: 1px solid #ddd;
}

th {
  height: 100px;
  background-color:#800F67;
  color: white;
}

tr:nth-child(even) {
  background-color: #EDE6EB;
}

.modal-container.active {
  visibility: visible;
  opacity: 1;
}

.close {
  position: absolute;
  margin: 15px 30px;
  top: 10px;
  right: 2px;
  width: 30px;
  height: 30px;
  font-weight: bolder;
  font-size: 30px;
  background-color: #F2F2F2;
  color: black;
  opacity: 0.5;
  border-radius: 20px;
}

.close:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* CAROUSEL SLIDER */
.carousel-container {
  width: 80%;
  /* height: 440px; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
}

#related-products-slider, #outfit-list-slider, #product-list {
  width: 90%;
  height: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  display: flex;
  align-items: stretch;
  scrollbar-width: none;
  scroll-behavior: smooth;
  margin: 10px;
}

#related-products-slider::-webkit-scrollbar{
  display:none;
}

#outfit-list-slider::-webkit-scrollbar{
  display:none;
}

#product-list::-webkit-scrollbar{
  display:none;
}

/* ARROWS */
.left-arrow, .right-arrow {
  background-color: #4F0B40;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.left-arrow:hover, .right-arrow:hover {
  background-color: #800F67;
  /* opacity: 0.5; */
  cursor: pointer;
}

.right-arrow {
  right: -10px;
}

.left-arrow {
  left: 0;
}

/* PRODUCT CARD */
.card {
  margin: 10px;
  background-color: white;
  /* box-shadow: 2px 2px 2px 2px #0000001f; */
  cursor: pointer;
  padding-bottom: 10px;
  border: 1px solid;
  border-color: #F2F2F2;
}

.card:hover {
  border: 1px solid;
  border-color: black;
  cursor: pointer;
}

.image-and-modal {
  position: relative;
  text-align: center;
}

#image {
  width: 200px;
  height: 180px;
  object-fit: cover;
}

.card-details {
  margin: 0px 10px;
  font-size: 14px;
  /* line-height: 0.2; */
}

/* OUTFIT CARD */
#add-outfit {
  margin: 10px;
  background-color: white;
  /* box-shadow: 2px 2px 2px 2px #0000001f; */
  cursor: pointer;
  align-items: stretch;
  padding: 10px;
  min-width: 180px;
  height: 325px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#add-outfit:hover {
  color: #4F0B40;
  opacity: 0.8;
  border: 1px solid;
  border-color: rgb(98, 97, 97);
  cursor: pointer;
}