body {
	margin: 0;
}

.number {
  background: #800F67;
	color: #fff;
	height: 25px;
	width: 25px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 10px;
	line-height: 25px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

.clickable-stars {
  margin: 5px 20px;
}

.question-container {
	margin: 15px;
}

.text-input {
	padding: 10px;
	margin: 10px 0 0 0;
	box-shadow:0 0 15px 4px rgba(0,0,0,0.1);
	border-radius:10px;
	border: 0;
	width: 100%;
	font-family:inherit;
  font-size: inherit;
}

.text-input:focus {
	outline: none;
	border: 2px solid #800F67;
}

.text-input:invalid:focus {
	outline: none;
	border: 2px solid red;
}

.review-search-bar {
  padding: 10px;
	margin: 0 0 10px 0;
	width: 30%;
	position: relative;
}


textarea {
	resize: vertical;
}
/*
input[type=text], input[type=email] {
	border: 0;
	border-bottom: 1px solid black;
} */

.text-below-input {
  text-align: right;
	font-size: 14px;
}

.charquestion-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	left: 20px;
}
.yes-no-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	position: relative;
	left: 20px;
}

.radio-choice {
	display: flex;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	margin-bottom: 0.375em;
}

.radio-span {
	display: flex;
	align-items: center;
	padding: 0.375em 0.75em 0.375em 0.375em;
	border-radius: 99em;
	transition: 0.25s ease;
}

.radio-span:hover {
	background-color: rgb(128, 15, 103, 0.2);
}

.radio-span:before {
	display: flex;
	flex-shrink: 0;
	content: "";
	background-color: #fff;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	margin-right: 0.375em;
	transition: 0.25s ease;
	box-shadow: inset 0 0 0 0.125em #800F67;
}

.radio-choice input {
	position: absolute;
	top: 9px;
	left: 6px;
	/* visibility: hidden; */
}

.radio-choice input:checked + span {
	background-color: rgb(128, 15, 103, 0.2);
}

.radio-choice input:checked + span:before {
	box-shadow: inset 0 0 0 0.4375em #800F67;
}

.image-text {
	position: relative;
	left: 15px;
	top: 10px;
}

.review-form {
  position: relative;
}

.form-submit {
	height: 40px;
  width: 20%;
  border: none;
  background-color: #4f0b40;
  color: white;
  border: 1.5px solid black;
	position: absolute;
	left: 50%;
	margin: 0 0 100px -10%;
	font-size: 16px;
}

.form-submit:hover {
	background-color: #800f67;
	cursor: pointer;
}

.pdbreakdown-container {
	margin: 10px 0px;
}

.placeholder {
	height: 80px;
}


/* Nika's Styles */

.smallGrey {
  color:rgb(150, 141, 141);
  font-size: 13px
}

.smallbtn:hover {
	color:#080707;
	cursor:pointer;
}

.red {
  color: red
}

.fonttwo {
  font-family: Nunito Sans, sans-serif, Daniel;
  font-size: 20px;
}

.font {
  font-family: Nunito Sans, sans-serif, Daniel;
}

.smallbtn {
  font-size: 13px;
  padding: 0;
  border: none;
  background: none;
  color: rgb(150, 141, 141);
  font-family: Nunito Sans, sans-serif, Daniel;
}

.topnav input{
	font-family: Nunito Sans, sans-serif, Daniel;
	background: transparent;
	outline: none;
	width: 80%;
	height: 40px;
	border-radius: 3px;
	border: 1px solid black;
	margin: auto;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg");
	background-size: 13px;
	padding: 0.25em 1em;
	background-repeat: no-repeat;
	background-position: 95% center;
	}

	.container {
	width: 80%;
	padding: 10px;
	position: relative;
	/* border: 3px solid black; */
	margin: 0;
	}

	.divider {
	width:5px;
	height:auto;
	display:inline-block;
	}

	.text-input-nik {
		padding: 10px;
		margin: 10px 0 0 0;
		box-shadow:0 0 15px 4px rgba(0,0,0,0.1);
		border-radius:10px;
		border: 0;
		width: 80%;
		font-family:inherit;
		font-size: inherit;
	}

	.text-input-nik:focus {
		outline: none;
		border: 2px solid #800F67;
	}

	.text-input-nik:invalid:focus {
		outline: none;
		border: 2px solid red;
	}
